# Ignore screenshots
/tests/screenshots/
screenshots/
assets

# Environment files
*.env

# Log files
*.log
*.log.save

# HTML output
*.html

# Python cache
__pycache__/
*.pyc

# VSCode and PyCharm settings
.vscode/
.idea/

